* {
	transition: 0.3s linear;
}

/*
	TYPOGRAPHY STYLES

	Note: Typography scale used and modified can be found at http://typecast.com/images/uploads/modernscale.css
*/
body {
	font-size: 100%;
	font-family: "Alegreya Sans", sans-serif;
	/*color: #434343;*/
	font-weight: 300;
	background: linear-gradient(to right, #003973, #e5e5be);


}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size-adjust: 0.5;
}

.container {
	font-size: 1em;
	line-height: 1.25;
}

/* OTHER STYLES */
body {
	background-color: #b8c9d9;
}

html,
body {
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.boxes {
	width: 18.5em;

	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 43.75em) {
	.boxes {
		width: 31.5em;

		flex-wrap: nowrap;
		align-items: center;
	}
}
h1.title {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}
.date {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
	margin-top: -65px;

}

.box {
	width: 100%;
}

.box-left {
	height: 23.5em;
	background-color: #ffffff;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	margin-top:40px;

}

.box-right {
	height: 21em;
	background-color: #3682ce;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	order: -1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:40px;

}

@media (min-width: 43.75em) {
	.box-left {
		width: 55%;
		border-top-left-radius: 0.5em;
		border-top-right-radius: 0.5em;
	}
	.box-right {
		width: 45%;
		border-bottom-right-radius: 0.5em;
		border-top-left-radius: 0;

		order: 1;
	}

	.box-left,
	.box-right {
		box-shadow: 4px 16px 12px rgba(15,22,29,0.25);
	}
}

.app-title {
	text-transform: capitalize;
	height: 6em;
	line-height: 6em;
}

.app-info {
	color: #a7bacf;
}

.app-title,
.app-info {
	text-align: center;
}

.small-text {
	font-size: 0.75em;
}

.main-text,#form {
	font-size: 4.5em;
	letter-spacing: 0.1em;
	overflow-wrap: break-word;
}

.currency-btn-group {
	width: 11.5em;
}

.input-group {
	margin-bottom: 0.5rem;
}

.label {
	display: block;
	color: #ffffff;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	margin-bottom: 0.5em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.text-field {
	box-sizing: border-box;
	padding: 0.75em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.currency-names,
.text-field {
	font-size: 0.75em;
	font-weight: 700;
	text-transform: uppercase;
	width: 100%;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.currency-btn {
	text-transform: capitalize;
	color: black;
	border: none;
	margin-top: 0.5em;
	cursor: pointer;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.currency-names,
.currency-btn {
	padding: 0.845em;
	background: #fdfeff;
	border-color: #fdfeff;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

#from{
	float: left;
}
